<div class="py-5 bg-secondary text-white pt-5" id="about">
  <div class="container px-4 px-lg-5 pt-5">
    <div class="row align-items-center">
      <!-- Colonna testo -->
      <div class="col-lg-6">
        <h2 class="fw-bold pt-5">Chi Siamo</h2>
        <hr class="bg-white w-25 mb-4" />
        <p class="lead mb-4">
          Libri Banco 11 è una libreria itinerante nata dall’amore per i libri situata su Lungotevere Guglielmo Oberdan RM. <br>
          Compriamo e vendiamo testi scolastici durante il periodo estivo per venire incontro a studenti e famiglie. <br>
          Crediamo nella condivisione e nel tenere vivi i libri cartacei.
        </p>
        <a class="btn btn-outline-light btn-lg rounded-5" href="#services">Scopri i nostri Servizi :)</a>
        <!-- routerLink="/our-services" -->
      </div>

      <!-- Colonna immagine -->
      <div class="col-lg-6 text-center pt-5">
        <img src="img/gallery/0.jpg"
             alt="Libri Banco 11"
             class="img-fluid rounded-4 shadow"
             style="height: 59vh; width: 90%; object-fit: cover;" />
      </div>
    </div>
  </div>
</div>