<footer class="bg-light text-muted pt-5 pb-5">
  <div class="container px-4 px-lg-5">
    <div class="row gy-4">
      <!-- Colonna: Info -->
      <div class="col-md-4">
        <h5 class="text-uppercase fw-bold"><a routerLink="/about-us" class="text-reset text-decoration-none">Chi Siamo</a></h5>
        <p>Offriamo libri scolastici scontati e servizi dedicati per studenti e famiglie. <br>
             La qualità e l’accessibilità sono al centro del nostro impegno.</p>
      </div>

      <!-- Colonna: Link utili -->
      <div class="col-md-2">
        <h6 class="text-uppercase fw-bold mb-3">Link Utili</h6>
        <ul class="list-unstyled">
          <li><a routerLink="/our-services" class="text-reset text-decoration-none">Servizi</a></li>
          <li><a routerLink="/our-services" class="text-reset text-decoration-none">Acquista</a></li>
          <li><a routerLink="/our-services" class="text-reset text-decoration-none">Vendi</a></li>
        </ul>
      </div>

      <!-- Colonna: Social -->
      <div class="col-md-3">
        <h6 class="text-uppercase fw-bold mb-3">Contattaci</h6>
        <a href="https://www.instagram.com/libri.banco.11/" class="me-3 text-reset"><i class="bi bi-instagram fs-5"></i></a>
        <a href="mailto:libribanco11@outlook.com" class="text-reset"><i class="bi bi-envelope fs-5"></i></a>
      </div>

      <!-- Colonna: Newsletter -->
      <div class="col-md-3">
        <h6 class="text-uppercase fw-bold mb-3">Newsletter</h6>
        <form>
          <div class="mb-2">
            <input type="email" class="form-control form-control-sm" placeholder="-" disabled />
          </div>
          <button type="submit" class="btn btn-primary btn-sm rounded-5" disabled>in lavorazione...</button>
        </form>
      </div>
    </div>

    <!-- Divider -->
    <hr class="my-4" />

    <!-- Copyright -->
    <div class="text-center small">
      &copy; 2025 Libri Banco 11. <br>
       Tutti i diritti riservati. <br><br>
      dev:Robert Joseph Jr Pascual Lorenzana 

    </div>
  </div>
</footer>
