<div class="container-fluid mt-4 p-0">
  <div class="row justify-content-center align-items-center text-center g-0">
    <!-- Blocchi per schermi medi e grandi -->
    <div class="col-12 d-none d-sm-block">
      <img [src]="extendedlogo" alt="logo" class="img-fluid w-100" style="height: 300px; object-fit: cover;">
    </div>

    <!-- Sfondo bianco visibile solo su mobile -->
    <div class="col-12 d-block d-sm-none" style="height: 90px; background-color: white;">
      <!-- Spazio vuoto con altezza fissa -->
    </div>
  </div>
</div>

<!-- <app-header></app-header> -->