    <header class="masthead align-items-center text-white py-5">
        <div class="container px-4 px-lg-5 text-center">
            <h1 class="display-4 fw-bold pb-5">Compra e Vendi Libri Scolastici con Facilità!</h1> 
            <hr class="bg-white w-25 mx-auto" /> 
            <p class="lead mb-5">Sconti fino al 50% su testi per medie e liceo. Contattaci su WhatsApp!</p> 
            <a class="btn btn-outline-light rounded-4" routerLink="/contacts">Contattaci Ora</a> 
        </div>
    </header>


<h1 data-aos="fade-up" data-aos-delay="200" [hidden]="true"></h1>
<p data-aos="fade-up" data-aos-delay="400" [hidden]="true"></p>
<a data-aos="zoom-in" data-aos-delay="600" class="btn btn-outline-light rounded-4" routerLink="/contacts" [hidden]="true"></a>
