  <div class="container-fluid mt-5 mb-5">
    <div class="row">
        <div class="col-12">
          <p>dhscucdbsubcsdu</p>
        </div>
    </div>
  </div>

  <div class="d-flex flex-grow-1 align-items-center justify-content-center text-center mt-5 pt-5 mb-5">
    <div class="container">
      <h1 class="display-1 fw-bold text-primary">404</h1>
      <h2 class="mb-4">Pagina non trovata</h2>
      <p class="lead mb-5">Sembra che la pagina che stai cercando non esista o sia stata spostata.</p>
      <a class="btn btn-primary rounded-4" routerLink="/jumbotron">Torna alla Home</a>
    </div>
  </div>


